:root {
  --dark-color: #1c1c1c;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    background-color: black;
    border-radius: 5px;
    width: 5px;

  }

  ::-webkit-scrollbar-thumb {
    background: rgb(0, 174, 255);
    border-radius: 10px;
    width: 10px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(1, 141, 206);
  }

}


html {
  scroll-behavior: smooth;
}


body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: var(--font-16, 1.6rem);
  color: var(--main, #ececec);
  background-color: var(--bg-dark, #1e1e1e);
  position: relative;
  overflow: hidden;
}

@media (max-width: 768px) {
  body {
    overflow: visible;
  }
}

h1,
h2,
h3,
h4 {
  font-family: Poppins, sans-serif;
}

a {
  text-decoration: none;
  color: var(--mainColor, #ececec);
  transition: background-color 0.3s, color 0.3s;
}


.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}


.home {
  position: relative;
}

/* Start Header */

.header {
  background-color: var(--dark-color);
  color: white;
  padding: 15px 50px;
}

.header a {
  color: rgb(0, 174, 255);
  ;
  text-decoration: none;
  font-weight: bold;
  font-size: 28px;
}

.header a i {
  margin-right: 10px;
}

.navigation {
  background-color: #353535;
  color: white;
  padding: 10px 50px;
  font-size: 20px;
}

/* End Header */

/* ÙStart Search bar */
.search-bar {
  margin: 40px auto;
  width: 600px;
  max-width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  ;
}

.search-bar input {
  width: 100%;
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 14px 20px;
  font-size: 16px;
}

/* End Search bar */

/* Start Movie List */



@media (min-width: 768px) {
  .season-list {
    overflow-y: auto;
    height: calc(100vh - 125px);
  }
}

.card-list .container,
.season-list .card-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.season-list .card-list {
  padding: 20px;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));

}

.season-list .card-list .card {
  height: 180px;
}

.card-list .card {
  position: relative;
  border-radius: 0.4rem;
  overflow: hidden;
  text-align: center;
  box-shadow: 1px 1px 13px 8px rgb(0 0 0 / 30%);
  height: 300px;
}

.card-list .card img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-list .card .layer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  ;
  opacity: 0;
  transition: opacity 0.4s;
}

.card-list .card .layer h2 {
  font-size: 20px;
}

.card-list .card .layer p {
  font-size: 14px;
}

.card-list .card:hover .layer {
  opacity: 1;
}

.card-list .layer {
  color: white;
  line-height: 1.8;
  font-size: var(--font-16, 1.6rem);
  letter-spacing: 1px;
  transition: 0.4s 0.2s;
  position: relative;
  bottom: -200px;
  opacity: 0;
}

.card-list .card-link {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card-list .card:hover .layer {
  /* bottom: 50%; */
  opacity: 1;
}

/* End Movie List */

/* Start show more button */
.show-more {
  display: block;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background: rgb(0, 174, 255);
  color: rgb(255, 255, 255);
  border-radius: 21px;
  margin: 50px auto;
  cursor: pointer;
  border: none;
}

.show-more:hover {
  background: rgb(3, 145, 211);
}

/* End show more button */


/* Start Show Details  */
.show-details {
  display: flex;
}



.show-details>* {
  width: 50%;
}

.show-details>.show-info {
  font-size: 18px;
  padding: 30px;
  background: #333;
  position: relative;
  width: 50%;
  height: calc(100vh - 125px);
  z-index: -1;
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media(max-width: 768px) {
  .show-details>.show-info {
    height: fit-content;
    min-height: 30vh;
  }
}

.show-details>.show-info:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgb(28, 28, 28, 0.4);

}

.show-info .layer {
  padding: 30px;
  background-color: rgb(28, 28, 28, 0.9);
  z-index: 1;
  /* position: absolute; */
  width: 90%;
  height: 90%;
}

.show-info .layer h2 {
  margin-bottom: 20px;
}

.show-info .layer .genres {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  margin-bottom: 20px;
}

.show-info .layer p {
  font-size: 16px;
  line-height: 1.6;
}


@media (max-width: 768px) {
  .show-details {
    flex-direction: column;
  }

  .show-details>* {
    width: 100% !important;
  }
}

/* End Show Details  */

/* Start Spinner Style */
.lds-facebook {
  /* display: inline-block; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  transform: translate(-50%, 100%);
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: #fff;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

/* End Spinner Style */